*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url("https://image.freepik.com/free-vector/abstract-minimal-white-background_23-2148887988.jpg");
  background-position: fixed;
}

.navbar-icons {
  color: black;
  text-decoration: none;
}

header {
  text-align: center;
  padding: 15px;
  box-shadow: rgb(38, 57, 77) 10px 20px 30px -10px;
  color: black;
  background: linear-gradient(#e66465, #9198e5);
}

footer {
  text-align: center;
  padding: 15px;
  box-shadow: rgb(38, 57, 77) 10px 20px 30px 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
