@import "_base.css";
/* fixing header position*/
body {
  margin: 0;
}
#quiz-app {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  height: 100vh;
}
#quiz-app > header {
  grid-area: "header";
}
#quiz-app > main {
  grid-area: "main";
  padding: 15px 5px 10px 5px;
  overflow: auto;
}
#quiz-app > footer {
  grid-template-rows: auto 1fr auto;
}
.main-content {
  display: grid;
  grid-template-rows: repeat(5, 5fr);
  justify-items: center;
  gap: 8px;
}
.cards-content {
  position: relative;
  margin: 35px;
  border-radius: 0.5em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 35px 70px 35px 70px;
}
i.bookmark {
  position: absolute;
  top: -8px;
  right: 20px;
}
.subject-tags {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  list-style-type: none;
  text-align: center;
  gap: 7px;
}
.subject-tags > li {
  border: 1px solid rgb(211, 142, 211);
  border-radius: 15%;
  background-color: whitesmoke;
  padding: 0.3em;
  color: rgb(211, 142, 211);
  font-size: 12px;
}
.show-answer {
  margin: 15px;
  border-radius: 10%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: rgb(203, 180, 245);
  padding: 10px;
  color: black;
}

p {
  padding: 15px;
  font-size: 12px;
}
