@import '_base.css';

/* fixing header */
.app-title {
    text-align: center;
    padding: 15px;
    box-shadow: 5px 5px 5px gray;
}

h1 {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Quiz contend cards */

.cards-content {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;s
}
