@import "_base.css";
/* fixing header position*/
body {
  margin: 0;
}
#profile-page {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  height: 100vh;
}
#profile-page > header {
  grid-area: "header";
}
#profile-page > main {
  grid-area: "main";
  padding: 15px 5px 10px 5px;
  overflow: auto;
}
#profile-page > footer {
  grid-template-rows: auto 1fr auto;
}
.main-content {
  display: grid;
  grid-template-rows: repeat(5, 3fr);
  justify-items: center;
  gap: 8px;
}
.my-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  border-radius: 0.5em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 30px;
}

img {
  display: flex;
  justify-content: flex-start;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  height: 200px;
  clip-path: circle(40%);
}
.about-debs {
  margin: -30px;
  font-family: "alex brush", sans-serif;
  font-size: 2em;
}

.logout-profile-button {
  margin: 15px;
  border-radius: 10%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: rgb(203, 180, 245);
  padding: 10px;
  color: black;
}
